<%= render partial: "form", object: @search, as: :search %>

<h3>Search Help</h3>
<p>
Available search syntax:</br>
- Search by field - name:John Doe</br>
- Search by multiple fields - name:John Doe,active:true</br>
- Search for an empty field - name:</br>
- Search on a tag type field - domain_names:apple.com</br>
- Search on muliple tags - tags:frank allen </br>
</p>

<h3>Searchable Fields By Search Type</h3>

Ticket Fields: [
<% @search.available_fields[:ticket].each do |field| %>
  <%= field %>
<% end %>
]
<br/>
<br/>

User Fields: [
<% @search.available_fields[:user].each do |field| %>
  <%= field %>
<% end %>
]
<br/>
<br/>

Organization Fields: [
<% @search.available_fields[:organization].each do |field| %>
  <%= field %>
<% end %>
]
